body,html{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: #DBA4A4;
  font-size: 16px;
}

.responsive-img {
  max-width: 100%;
  height:auto;
}

.featured-work {
  margin-top: 30px;
}

.section-hdr, .featured-hdr {
  text-align: center;
}

.featured-hdr {
  margin: 20px 0;
}

.header {
  justify-content: space-evenly;
  text-align: right;
  align-content:right;
}

.header-title {
  text-align:right;
}
.title-hdr {
  text-align:right;
}
}

.logo {
  width: 50px;
  height: 50px;
  margin: 0px auto;
}

@media screen and (min-width: 500px) {
.content {
  display: flex;
  max-width: 100%;
  align-content: space-evenly;
  height:auto;
}
.fw-item {
  max-width: 33.33%;
}
}

@media screen and (min-width: 720px) {
.featured-work {
  justify-content: center;
  display: flex;
  max-width: 1440px;
  align-content: space-evenly;
}
.fw-item {
  width: 33.3%
}
}

.fw-item {
  margin: 20px 20px 20px 0;

}

/*Referenced Joe Mesots YouTube Videos for guidance on this project
https://www.youtube.com/channel/UCZI03QJQ2jttnNZuVqYVEiA// //
--> */
